* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(76, 79, 80);
}

.header {
  position: fixed;
  background-color: rgb(37, 39, 39);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  width: 100%;
  align-items: center;
}

.header p {
  color: white;
}

.header button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(26, 126, 151);
  color: white;
  cursor: pointer;
}

.containerPesan {
  padding: 100px 20px;
}

.containerPesan ul {
  list-style-type: none;
}

.pesanKonten {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pesanKonten img {
  border-radius: 50px;
}

.pesanKonten .foto {
  padding: 30px;
}

.pesanKonten .nama {
  color: rgb(97, 191, 214);
  font-weight: bold;
  font-size: 20px;
}

.pesanKonten .column2 {
  width: 100%;
}

.pesanKonten .pesan {
  color: white;
  font-style: 18px;
}

.pesanKonten .bagianPesan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pesanKonten .column2 .bagianPesan .waktu {
  color: rgb(175, 175, 175);
  font-size: 15px;
}

.formSubmit {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgb(37, 39, 39);
  padding: 20px 10px;
}

.formSubmit form {
  display: flex;
  justify-content: space-between;
}

.formSubmit input {
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  border: none;
  outline: none;
}

.formSubmit button {
  padding: 10px;
  border: none;
  font-size: 14px;
  background-color: rgb(97, 191, 214);
  cursor: pointer;
  color: white;
  font-weight: bold;
}
